<!doctype html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="app">
    <h1>Guess the Number</h1>
    <p>
      <label class="abutton">
        {{ startMessage }}
        <input id="inputFile" type="button" v-on:click="startGame">
      </label>
    </p>

    <p>I have got a number in mind which is between 0 and 99, what is it? </p>

    <div v-if="Number.isInteger(currentGuess)">
      <p>Computer: It is <span>{{ currentGuess }}</span></p>
      <p>
        <button v-on:click="judgeComputer('COLD')">COLD</button>
        <button v-on:click="judgeComputer('COOL')">COOL</button>
        <button v-on:click="judgeComputer('WARM')">WARM</button>
        <button v-on:click="judgeComputer('HOT')">HOT</button>
        <button v-on:click="judgeComputer('correct')">correct</button>
      </p>
      <!-- Show computer guess history -->
      <ul v-if="currentGame != null">
        <li v-for="guess in currentGame.guessHistory" :key="guess.try_count"> 
          the {{guess.tryCount}} try, 
          I guessed {{ guess.guess }}, 
          you told me: {{ guess.result }}. So target number ranger is {{ guess.range.min }} to {{ guess.range.max }}</li>
      </ul>
    </div>
  </div>

  <script src="model.js"></script>
  <script src="controller.js"></script>
</body>
</html>

