<!doctype html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    table {
      border-collapse: collapse; 
      float: left;
      margin-right: -1px;
    } 
    table td {
      text-align: center;
      padding: 10px 10px;
      border:1px solid #000000;
    }
    div#result {
      padding-top: 20px; 
      clear: both;
    }
  </style>
</head>
<body>
  <div id="app">

    <p><input id="inputFile" type="file" multiple="multiple" v-on:change="fileChangeHandler"></p>
    <p><input type="button" value="Calculate standard deviation" v-on:click="calculate"></p>
    <table v-for="tableData in filedata">
      <tr><td>{{ tableData.fileName }}</td></tr>
      <tr v-for="row in tableData.dataList"><td>{{ row }}</td></tr>
    </table>

    <div v-if="result.length > 0" id="result">
      <p>Result:</p>
      <table>
        <tr v-if="result.length"><td></td><td>Mean</td><td>Standard Deviation</td></tr>
        <tr v-for="tableData in result">
          <td>{{ tableData.fileName }}</td>
          <td>{{ tableData.mean }}</td>
          <td>{{ tableData.standardDeviation }}</td>
        </tr>
      </table>
    </div>
  
  
  
  
  </div>

  <script src="index.js"></script>
</body>
</html>

