<!doctype html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="app">
    <h1>Guess the Number</h1>
    <p>
      <label class="abutton">
        {{ startMessage }}
        <input id="inputFile" type="button" v-on:click="startGame">
      </label>
    </p>

    <div v-if="secretNumber >= 0">
      <p>I have got a number in mind which is between 0 and 99, what is it? </p>
      <p id="prompt-message" v-if="promptMessage != ''">{{ promptMessage }}</p>
      <p>You are guessing <span style="font-size: x-large">{{yourCurrentGuess}}</span></p>
      <p><input
        v-model="yourCurrentGuess"
        v-on:keyup.enter="submitYourInput"
        ref="input" type="text" size="40" placeholder="Please input your guess then press enter"></p>
    </div>
    <!-- Show player guess history -->
    <ul v-if="guessHistory.length">
      <li v-for="guess in guessHistory" :key="guess.try_count"> the {{guess.tryCount}} try, you guessed {{ guess.number }}</li>
    </ul>

  </div>

  <script src="model.js"></script>
  <script src="controller.js"></script>
</body>
</html>

